.panel-wrap {
  pointer-events: auto;

  &.vertical {
    height: 100%;
    padding: 8px 8px 8px 0;
  }

  &.horizontal {
    padding: 0 8px 8px;
  }

  &.vertical_project {
    height: 100%;
    padding-left: 6px;
  }

  &.horizontal_project {
    padding-right: 0;
  }
}
