.trace-detail-panel {
  width: 360px;
  min-width:360px;
  height: 100%;
}

.trace-detail {
  padding: 16px;
}

.detail-title {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 4px;
  :global .coz-icon-button {
    line-height: 0;
  }
}
.log-id {
  display: flex;
  align-items: center;
  justify-content: space-between;
  :global .coz-icon-button {
    line-height: 0;
  }
}

.json-viewer {
  margin-bottom: 16px;
  margin-top: -4px;
}
