.batch-edge-info-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 4px;

  font-size: 14px;
  color: rgb(29 28 35 / 80%);

  background: #F7F7FA;
  border-radius: 4px;
}

.batch-edge-info-container_error {
  font-weight: 600;
  color: #FF441E;
  background: #FFF3EE;
}
