.input-form-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.empty-icon {
  font-size: 32px;
  color: var(--coz-fg-dim);
  margin-bottom: 4px;
}
