.error_checkbox {
  :global {
    .semi-checkbox-inner-display {
      /* stylelint-disable-next-line declaration-no-important */
      border: solid 1px var(--coz-stroke-hglt-red) !important;
    }
  }
}

.large {
  :global {
    .semi-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      /* stylelint-disable-next-line declaration-no-important */
      width: 24px !important;
      /* stylelint-disable-next-line declaration-no-important */
      height: 24px !important;
      /* stylelint-disable-next-line declaration-no-important */
      font-size: 22px !important;
    }

    .semi-checkbox-inner,
    .semi-checkbox-inner-display {
      /* stylelint-disable-next-line declaration-no-important */
      width: 24px !important;
      /* stylelint-disable-next-line declaration-no-important */
      height: 24px !important;
      border-radius: 8px;
    }
  }
}
