.close {
  width: 20px;
  height: 20px;
  font-size: 12px;

  :global {
    .semi-button.semi-button-with-icon-only {
      width: 20px;
      height: 20px;
    }

    svg {
      width: 14px;
      height: 14px;

      @apply coz-fg-secondary;
    }
  }
}
