.mask {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background: rgb(255 255 255 / 90%);
}

.text {
  font-size: 14px;
  color: rgba(6, 7, 9, 50%);
}

.progress {
  width: 250px;
  height: 6px;
}
