.full-screen-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--coz-stroke-primary);
}

.shortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .label {
    font-size: 14px;
    line-height: 20px;
  }

  .keybinding {
    font-weight: 700;
    color: var(--coz-fg-dim);
  }
}
