.divider {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  padding: 16px 24px 40px;
}

.divider-line {
  flex: 1;
  height: 1px;
}



.coz-divider-line-style {
  // ui 要求分割线颜色特别处理 不使用 token
  background-color: rgba(74, 86, 111, 20%);
}

.divider-text {
  width: fit-content;
  max-width: 280px;
  padding: 0 20px;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  word-break: normal;
  word-wrap: break-word;
  white-space: pre-wrap;
}

