@keyframes trigger-config-button-slider-in {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: trigger-config-button-slider-in 0.5s linear;
}
