/* stylelint-disable declaration-no-important */
.generate-button {
  display: flex;
  column-gap: 1px;

  .first-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .last-button {
    background: rgba(var(--coze-purple-1), var(--coze-purple-1-alpha))!important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


