.disable-field {
  padding: 12px 0 24px;

  .title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
  }
}

.input {
  && {
    padding-top: 4px;
  }

  :global {
    .semi-input-suffix {
      cursor: pointer;
      padding: 8px;
    }
  }
}

.link-button {
  &&& {
    background-color: transparent;
  }
}
