.icon-fold {
  display: flex;

  :global {
    .semi-button {
      width: 20px;
      height: 20px;
      border-radius: 4px;
    }
  }
}




.icon-unfold {
  display: flex;

  :global {
    .semi-button {
      width: 36px;
      height: 36px;
      border-radius: 4px;
      position: absolute;
      top: 38px;
      right: 0;
      z-index: 50;
      border-radius: 10px 0 0 10px;
    }
  }
}
