.resource-group {
  .resource-group-header {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 36px;
    padding: 0 14px 0 17px;

    .header-left {
      display: flex;
      gap: 4px;
      align-items: center;
    }
    
    .header-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    .action-group {
      display: flex;
      gap: 2px;
      align-items: center;
    }
  }

  .resource-group-content {
    padding: 0 6px;
  }
}