.refresh-modal-content {
  :global {
    .semi-modal .semi-modal-content {
      z-index: 99999;
      width: 320px;
      min-height: 174px;
      padding: 16px;

      .semi-modal-header {
        .semi-modal-title {
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          color: var(--Fg-COZ-fg-plus, rgba(8, 13, 30, 90%));
        }
      }

      .semi-modal-body .coz-common-content {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--Fg-COZ-fg-secondary, rgba(32, 41, 69, 62%));
      }

      .semi-button-content {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: var(--Fg-COZ-fg-hglt-plus, #fff);
      }
    }
  }
}
