.tools {
  position: absolute;
  z-index: 999;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;

  padding: 6px;

  background-color: var(--coz-bg-max);
  border: 1px solid var(--coz-stroke-primary);
  border-radius: 8px;
  box-shadow: var(--coz-shadow-default);

  .divider {
    height: 20px;
  }
}
