.radio-group {
  :global {
    .semi-radio {
      width: 136px;
    }

    .semi-radio-content {
      width: 128px;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .semi-radio-addon-buttonRadio {
      border-radius: 4px;
    }
  }

}

.error-msg {
  width: 100%;
  height: 22px;
  margin-top: 8px;

  :global {
    .semi-typography {
      color: #FF5656;

    }
  }
}

.import-modal {
  :global {
    .semi-modal-content {
      min-height: 646px;
    }
  }
}
