.readonly {
  pointer-events: none;
}

.select {
  :global(.option-prefix-icon) {
    margin-right: 8px;
  }

  :global(.wf-enum-image-model-thumbnail) {
    margin-right: 4px;
    margin-left: 0;
  }
}
