.flow-test-run-condition-log {
  width: 432px;
  border: 1px solid rgba(29, 28, 35, .16);
  border-radius: 12px;
  background: #f7f7fa;
  display: flex;
  justify-content: space-around;
}

.flow-test-run-condition-log-value {
  width: 151px;
  margin: 12px 0;
}

.flow-test-run-condition-log-operator {
  width: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .operator-line {
    width: 1px;
    background-color: rgba(29, 28, 35, 0.16);
    flex: 1;
    min-height: 8px;
  }

  .operator-value {
    border-radius: 8px;
    border: 1px solid rgba(29, 28, 35, 0.16);
    background: #FFF;
    padding: 6px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1D1C23;
  }
}
