/* stylelint-disable font-family-no-missing-generic-family-keyword */
.load-failure {
  min-height: 400px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 400px;

  &-content {
    margin-left: 8px;

    font-family: "SF Pro Display";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: rgb(29 28 35 / 35%);
  }
}
