.panel {
  top: 0;
  width: 0;
  height: 100%;
  transition: width 0.3s;
  overflow: hidden;
  background: lightgray;
}

.panel.open {
  width: 200px;
}

.open-left {
  left: 0;
}

.open-right {
  right: 0;
}
