.retry {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 16px;

  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;

  &:hover {
    background: #e6e6e6;
    border-color: #d0d0d0;
  }

  &:active {
    background: #dcdcdd;
    border-color: #c7c7c8;
  }
}

.icon {
  margin-right: 6px;
  font-size: 16px;
  color: #0064fa;
}

.text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #1d1c23;
}
