.sub-canvas-tips {
  position: absolute;
  top: 48px;

  width: 100%;
  height: 36px;
  padding: 0 8px;

  .container {
    height: 100%;
    background-color: #E4E6F5;
    border-radius: 4px 4px 0 0;

    .content {
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      .text {
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        color: var(--coz-fg-primary, rgba(15, 21, 40, 82%));
        text-overflow: ellipsis;
      }

      .space {
        width: 128px;
      }
    }

    .actions {
      position: absolute;
      top: 0;
      right: 0;

      display: flex;
      gap: 8px;
      align-items: center;

      height: 36px;
      padding: 8px 16px;

      .close-forever {
        cursor: pointer;

        padding: 0 3px;

        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        line-height: 12px;
        color: var(--coz-fg-secondary, rgba(32, 41, 69, 62%));
      }

      .close {
        cursor: pointer;
        height: 100%;
      }
    }
  }
}
