.trace-panel-header {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 100%;
  flex-grow: 1;
  .trace-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--coz-fg-hglt);
    cursor: default;
  }
}

.header-tabs {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-right: 4px;
}
