/* stylelint-disable selector-class-pattern */
.stepWrapper {
  width: 100%;
  height: 500px
}

.create-from-excel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.steps {
  width: 700px;
  margin-bottom: 40px
}
