/* stylelint-disable declaration-no-important */
.dataset-header {
  padding-right: 12px !important;
  padding-left: 0 !important;
}

.modal.upgrade-level {
  :global {
    .semi-modal-body {
      height: 0;
      padding-bottom: 0;
    }

    .semi-modal-content {
      @apply bg-white-1;
    }
  }
}
