/* stylelint-disable selector-class-pattern */
button.button {
  min-width: 76px;

  &.moreLevel {
    color: var(--light-usage-primary-color-primary-disabled, #b4baf6);
    background: var(--light-usage-bg-color-bg-0, #fff);
    border: none;
  }

  &.mouseIn {
    color: #fff;
    background-color: rgba(var(--coze-red-5), 1) !important;
  }
}
