.full-input :global {
  .editor-kit-toolbar-v2-wrapper {
    padding: 0 2px;

    button {
      margin: 0 2px;
    }
  }
  .editor-kit-container {
    font-size: 12px;
  }
}

.full-input {
  min-height: 120px;
  border: 1px solid var(--coz-stroke-plus);
}

.modal-full-input {
  min-height: 570px;
}
