.action-input-value-pre{
  width: 115px;
  border-right: none;
}

.action-input-value-content{
  flex: 1;
}

.reference-option-item{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 200px;

  .reference-option-subtext{
    color:rgba(29, 28, 35, 35%)
  }
}


