.trace-table {
  height: 100%;
  overflow-y: auto;
  :global {
    .semi-table-tbody > .semi-table-row > .semi-table-row-cell {
      height: 32px !important;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
    }
    .semi-table-row-head {
      font-size: 12px !important;
      height: 32px !important;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
    }
    .coz-table-wrapper .coz-table-list .semi-table-fixed-header table {
      height: 32px;
    }
  }
}
