.wrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;

  width: 100%;
  margin-top: 8px;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.agent-text {
  overflow: hidden;

  max-width: 100%;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 16px;
  color: rgb(29 28 35 / 60%);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper-last {
  margin-top: 4px;
}

.wrapper-short-spacing {
  margin-top: 4px;
  margin-bottom: 4px;
}


.wrapper-only-one {
  margin-top: 8px;
}

.wrapper-no-bottom {
  margin-bottom: 0;
}
