.plugin-limit-table {
  :global {
    .semi-table-thead>.semi-table-row>.semi-table-row-head {
      height: 16px;
      padding: 4px 8px;
      background-color: transparent;
    }

    .semi-table-row{
      background-color: transparent !important;
    }

    .semi-table-tbody .semi-table-row .semi-table-row-cell {
      padding: 8px !important;
    }
  }
}
