.tooltip {
  overflow: hidden;

  width: 300px;

  font-size: 14px;

  border-radius: 12px;
  box-shadow: 0 16px 48px 0 #00000014, 0 8px 24px 0 #00000029;

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}

.action-btn {
  display: flex;
  gap: 4px;

  &-index {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    color: var(--Fg-COZ-fg-secondary, rgba(6, 7, 9, 50%));
    text-align: left;
  }
}
