/* stylelint-disable selector-class-pattern */
.item {
  display: flex;
  font-size: 14px;
  color: #1D1C23;
}

.itemTitle {
  display: flex;
  flex: 1;
  align-items: center;
}

.itemContent {
  display: flex;
  align-items: center;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}
