.frequency-form-item {
  .title {
    display: block;
    flex-shrink: 0;

    box-sizing: border-box;
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 16px;
    color: var(--coz-fg-secondary);
  }

  .content {
    flex: 1;
  }
}
