/* stylelint-disable declaration-no-important */
.project-template-modal {
  :global(.semi-modal) {
    width: 960px !important;
  }


  :global(.semi-modal-content) {
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
  }

  :global(.semi-modal-header) {
    padding-right: 24px;
    padding-left: 24px;
  }
}


.error-empty {
  padding: 124px 0;

  :global {
    .semi-empty-content {
      margin-top: 8px;
    }

    .semi-empty-footer {
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }
  }
}