.condition-field {
  display: flex;
  justify-content: space-around;
  column-gap: 4px;
}

.field-value {
  width: 151px;
}

.field-operator {
  width: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .operator-value {
    width: 82px;
    border-radius: 8px;
    border: 1px solid rgba(29, 28, 35, 0.16);
    background: #FFF;
    padding: 6px;
    text-align: center;
  }
}

.logic-data {
  font-size: 12px;
  margin: 4px;
  text-align: center;
}
