.checkbox {
  display: flex;
  align-items: center;

  .content {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .label {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: var(--Light-usage-text---color-text-0, #1D1C24);
  }

  .line {
    align-items: center;

    width: 1px;
    height: 16px;
    margin-left: 12px;

    background-color: var(--Light-usage-border---color-border-1, rgba(29, 28, 37, 12%));
  }

  .tip {
    position: absolute;
    top: 2px;
    left: 0;

    width: 16px;
    height: 16px;
  }
}
