.execute-result-list-title {
  padding: 0 0 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--light-usage-text-color-text-3, rgba(29, 28, 35, 35%));
}

.error-item {
  cursor: pointer;

  margin-bottom: 12px;
  padding: 8px 10px;

  border: 1px solid var(--coz-stroke-plus);
  border-radius: 8px;

  &:hover {
    box-shadow: 0 8px 24px 0 #00000029;
  }

  .error-item-text {
    width: calc(100% - 52px);
  }
}
