.guide-popover {}

.guide {
  width: 380px;
}

.guide-text {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.guide-image {
  width: 380px;
  margin: 0 0 10px;
  padding: 0;
}

.guide-video {
  overflow: hidden;
  width: 380px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.guide-button {
  width: 100%;
}
