.upload-footer {
  display: flex;
  justify-content: flex-end;

  margin-top: auto;
  margin-bottom: 18px;
  padding-top: 24px;
  padding-bottom: 24px;

  line-height: 32px;

  :global {
    .semi-button {
      margin-left: 10px;
    }
  }
}
