.container {
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }
}

.label,
.default-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.label {
  color: var(--Light-color-grey---grey-3, #A7A7B0);
  margin-bottom: 8px;
}

.default-text {
  color: var(--Light-color-grey---grey-3, #A7A7B0);
}
