.publish-platform-frame {
  :global {
    .semi-table-header {
      .semi-table.semi-table-fixed {
        height: 21px !important;
      }
    }

    .coz-table-list .semi-table-container>.semi-table-body {
      padding-top: 0 !important;
    }

    .semi-table-row-head {
      height: 20px !important;
      padding: 0 6px !important;

      font-size: 12px !important;
      font-weight: 400 !important;
      line-height: 20px !important;

      background-color: transparent !important;
    }

    .semi-table-tbody>.semi-table-row>.semi-table-row-cell{
      height: 56px !important;
      padding: 0 8px !important;
    }

    .semi-table-row{
      background-color: transparent !important;
    }
  }
}


