.container {
  display: flex;
  flex-direction: column;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 4px;


    .left-content {
      display: flex;
      flex-shrink: 0;
      gap: 4px;
      align-items: center;
    }

    .right-content {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-left: 8px;
    }

  }
}
