// photo 类型的 Filter
.photo-filter-tab {
  display: flex;

  &-item {
    cursor: pointer;

    height: 14px;

    font-weight: 600;
    line-height: 20px;
    color: #1D1C2399;

    &-active {
      cursor: pointer;

      height: 14px;

      font-weight: 600;
      line-height: 20px;
      color: #4D53E8;
    }
  }
}
