/* stylelint-disable selector-class-pattern */
.vision-add-icon {
  position: absolute;
  top: 10px;
  right: 12px;
}

.vision-title{
  padding-bottom: 8px;
}

.vision-name-container {
  :global {
    .semi-input-wrapper__with-prefix {
      padding-left: 0;
    }
  }
}
