@black: #000000;
@white: #FFFFFF;
@blue-0: #4D53E8;

@text-gray-0: #1D1C23;
@text-gray-1: #1D1C23CC;
@text-gray-2: #1D1C2399;
@text-gray-3: #1D1C2359;
@text-blue-0: #4D53E8;


@background-gray-0: #F7F7FA;
@background-gray-1: #F0F0F5;
@background-blue-0: #F1F2FD;

@icon-color: #6B6B75;
@border-color: #1D1C2314;
@error-color: #FF441E;
