/* stylelint-disable selector-class-pattern */
.font-normal {
  cursor: text;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
}

.container {
  margin-left: 8px;

  .button {
    cursor: pointer;
    width: 76px;
  }
}

.not_publish_tooltip {
  padding: 12px;
  border-radius: 6px;

  .content {
    .font-normal();

    line-height: 20px;
    color: #fff;
  }
}

.workflow_count_span {
  display: inline-block;

  width: 16px;
  height: 16px;
  margin-left: 6px;

  font-size: 10px;
  line-height: 17px;
  color: #fff;
  vertical-align: 1px;

  background-color: rgba(77, 83, 232, 100%);
  border-radius: 8px;
}
