.btn {
  :global {
    .semi-icon {
      color: var(--coz-fg-secondary);
    }

    button {
      padding: 2px 8px;
    }

    .semi-button-content-right {
      margin-left: 4px;
      font-weight: 500;
      color: var(--coz-fg-secondary);
    }
  }
}
