.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 140px;
}

.img {
  width: 48px;
  height: 48px;
}

.spin {
  width: 48px;
  height: 48px;
}

.text {
  display: block;

  max-width: 180px;
  margin-top: 4px;

  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  /* stylelint-disable-next-line custom-property-pattern */
  color: var(--Light-usage-text---color-text-1, rgba(29, 28, 35, 80%));
  text-align: center;
  word-break: break-all;
}
