@import '@coze-common/assets/style/common.less';
@import '@coze-common/assets/style/mixins.less';

.card-content {
  .card-table-thead {
    padding-bottom: 6px;
  }
}

.default-text {
 font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  color: var(--light-usage-text-color-text-2, rgb(28 29 35 / 60%));
}
