.config-status {
  .markdown {
    max-width: 265px;
    font-size: 12px;
    line-height: 16px;
    color: var(--light-usage-text-color-text-0, #1D1C23);
  }

  :global {
    .semi-tag {
      margin-right: 4px;
      font-weight: 500;

      svg {
        width: 10px;
        height: 10px;
        margin-left: 4px;
      }
    }

    .semi-button-borderless {
      height: 24px;
      padding: 0 8px;
      font-size: 12px;
      line-height: 20px;
    }


  }
}
