.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  height: fit-content;

  .banner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 36px;
  }
}

.top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;

  .left-col {
    display: flex;
    column-gap: 4px;
    align-items: center;

    height: 100%;
    padding-left: 4px;
  }

  .middle-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .right-col {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
  }
}
