.error-container {
  .error-link {
    .error-link-underline {
      text-decoration: underline;
      color: var(--semi-color-danger);
      font-size: 14px;
      margin-left: 2px;
      max-width: 200px;

      a {
        color: var(--semi-color-danger);
      }
    }
  }

}
