.form-wrapper {
  position: relative;
  box-sizing: content-box;
  width: 432px;
  padding: 24px;
}

.form-title {
  height: 32px;
  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  /* stylelint-disable-next-line custom-property-pattern */
  color: var(--Fg-Primary-COZ_fg_plus);
}
