.upload-unit-wrap {
  // width: calc(100% - 200px);
  width: 100%;
  min-width: 1008px;
  height: 100%;
  margin: 0 auto;


  :global {
    .upload-unit-steps {
      width: 100%;
      margin: 0 auto 54px;

      // 待跟设计确认是否要跟视觉稿一致
      // .semi-steps-basic.semi-steps-small .semi-steps-item .semi-steps-item-left .semi-steps-item-icon .semi-steps-item-number-icon {
      //   width: 32px;
      //   height: 32px;
      // }

      // .semi-steps-basic.semi-steps-small .semi-steps-item .semi-steps-item-left .semi-steps-item-icon {
      //   height: 32px;
      //   font-size: 20px;
      // }

      // .semi-steps-basic.semi-steps-small .semi-steps-item .semi-steps-item-title {
      //   height: 32px;
      //   line-height: 32px;
      //   font-size: 14px;
      // }
    }
  }
}

.upload-ui-content {
  // overflow-y: auto;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 30px;

  @apply coz-bg-max;
}

.breadcrumb {
  display: flex;
  align-items: center;
}