.content {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 12px;


  .tag {
    height: 16px;
    margin-left: 8px;
    padding: 1px 4px;

    font-size: 12px;
    line-height: 14px;
    color: rgba(6, 7, 9, 80%);

    background: rgba(6, 7, 9, 8%);
  }
}
