.completion-item {
  cursor: pointer;

  display: flex;
  column-gap: 4px;
  align-items: center;

  width: 168px;
  height: 24px;
  margin: 4px;
  padding: 0 4px;

  font-size: 12px;
  color: var(--coz-fg-primary);

  background: var(--coz-mg-secondary-hovered);
  border-radius: 4px;
}
