.file-widget {
  display: inline-flex;
  column-gap: 2px;
  align-items: center;

  height: 14px;
  padding: 0 3px;

  vertical-align: middle;

  border-radius: 4px;

  &.selected {
    background: #52649A21;
  }

  &:hover {
    background: #52649A21;
  }

  .file-name {
    max-width: 200px;
    font-size: 12px;
    line-height: 14px;
  }
}
