.key-hover {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 8px;

  .label {
    display: flex;
    column-gap: 4px;
    align-items: center;
  }

  .asterisk {
    color: var(--coz-fg-hglt-red);
  }
}
