.related-bots-list {
  overflow: scroll;

  min-width: 20px;
  min-height: 20px;
  max-height: 396px;
  // color: var(--Fg-COZ-fg-primary, rgba(6, 7, 9, 0.80));
  font-weight: 500;
  line-height: 20px;

  &-item {
    display: flex;
  }

  :global {
    .related-bots-circle {
      margin-top: -4px;
      margin-right: 4px;
      font-size: 18px
    }
  }
}
