.message-item {
  display: flex;
  column-gap: 12px;
}
.message-avatar {
  flex-shrink: 0;
  width: 32px;
}
.message-main {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  flex-grow: 1;
}
.user-name {
  font-size: 12px;
  color: var(--coz-fg-secondary);
}
