.coz-nav-modal.coz-modal.as-modal .semi-modal-content {
  padding: 0;
}

.coz-nav-modal {
  .semi-modal-body {
    display: flex;
    height: var(--nav-modal-body-height);
  }

  .semi-modal-footer {
    display: none;
  }
}
