.workflow-info {
  padding-left: 4px;

  :global .coz-icon-button {
    line-height: 0;
  }
}

.workflow-title {
  display: flex;
  column-gap: 2px;
  align-items: center;
}

.workflow-status {
  display: flex;
  column-gap: 8px;
  align-items: center;
}