.plugin_permission_list_table {
  :global {
    .semi-table-row,
    .semi-table-row-head {
      cursor: default !important;
      background-color: transparent !important;
    }

    .semi-table-row-head,
    .semi-table.semi-table-fixed {
      height: 20px !important;
      font-size: 12px !important;
      line-height: 20px !important;
      color: var(--coz-fg-secondary) !important;
    }

    .semi-table-row-cell {
      height: 56px !important;
    }

    .semi-table-body {
      padding-top: 0 !important;
    }
  }
}
