
.text-resegment-modal {
  :global {
    .semi-modal-content {
      color: var(--coz-fg-secondary);
    }

    .semi-modal-footer .semi-button {
      margin-left: 16px;
    }
  }

  .text-resegment-content {
    line-height: 20px;
  }
}
