.auth-empty-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 112px);

  .auth-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-empty-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 140px;
  }

  .auth-empty-description {
    margin-top: 16px;

    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--coz-fg-primary);
  }

  .auth-empty-second-desc {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    color: var(--coz-fg-secondary);
  }

  .auth-empty-button {
    margin-top: 21px;
  }
}
