.prompt-library-modal {
  :global {
  .semi-modal-body {
    > div:first-child {
      > div:first-child {
        display: flex;
        flex-direction: column;
      }
    }
    }

    .semi-modal-footer {
      height: 32px;
    }
  }
}
