.filter {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 6px 0;

  font-weight: 600;
  line-height: 20px;
  color: rgba(29, 28, 35, 60%);
}

.filter-item-active {
  color: rgba(77, 83, 232, 100%);
}
