.form-item {
  margin-bottom: 8px;
}

.form-item-label {
  margin-bottom: 4px;
  font-size: 12px;
  overflow-wrap: break-word;

  .form-item-label-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  .top-left {
    display: flex;
    align-items: center;
  }

  .tag {
    flex-shrink: 0;
    margin-left: 4px;
  }
}
.label-tooltip {
  color: var(--coz-fg-secondary);
  margin-left: 2px;
}

.form-item-label-text {
  font-weight: 500;
  color: #1D1C23;
}

.form-item-label-asterisk {
  color: var(--coz-fg-hglt-red);
}

.form-item-feedback-wrap {
  min-height: 16px;
  margin-top: 4px;
  line-height: 16px;
  overflow-wrap: break-word;
}
.form-item-feedback-text {
  color: var(--coz-fg-hglt-red);
}
