

.favorite-btn {
  color: #1D1C23;

  :global(.semi-button-content-right) {
    margin-left: 4px;
    color: #1D1C23;
  }

  &.dark {
    .un-collected {
      path {
        fill: #1D1C23
      }
    }
  }
}
