.expression-editor-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--semi-color-text-2);

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 24px;
    padding: 3px 12px 5px;

    font-size: 12px;
    line-height: 16px;
    text-align: right;
  }

  &-error {
    color: var(--semi-color-danger);
  }
}
