.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;

  height: 24px;

  .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
  }
}
