.mock-select-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: '100%';
}

.mock-main-info {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;

  .status-icon {
    margin-right: 4px;
    color: #FF8500;
  }

  .mock-name {
    font-size: 12px;
  }
}

.mock-extra-info {
  width: 64px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .creator-name {
    color: #1D1C2359;
    font-size: 12px;
  }

  .operation-icon {
    font-size: 14px;
    color: #1D1C2399;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
}
