
.icon-button {
  margin-right: 6px;

  &&& {
    background-color: var(--coz-bg-max);

    &:hover {
      background-color: var(--coz-bg-6);
    }

    &:active {
      background-color: var(--coz-bg-8);
    }
  }
}

.sidebar-wrapper {
  width: 282px;
  height: calc(100vh - 114px);
}
