.json-link-preview {
  /* stylelint-disable-next-line declaration-no-important */
  font-size: 12px !important;

  .link {
    cursor: pointer;

    overflow: hidden;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: var(--coz-fg-hglt, #4E40E5);
    text-decoration-line: underline;
    text-overflow: ellipsis;

  }
}
