.testset-select {
  width: 140px;
}

.select-dropdown {
  width: 280px;
}

.option-option-wrapper {
  :global {
    .option-text-wrapper {
      overflow: hidden;
    }
  }
}
.option-default-tag {
  background: var(--Mg-COZ-mg-hglt, rgba(171, 181, 255, 0.30));
  color: var(--Fg-COZ-fg-hglt, #5147FF);
  flex-shrink: 0;
}