.bg-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 52px;
  margin-top: 12px;
  padding: 0 10px;

  background: var(--coz-bg-max);
  border: 1px solid var(--coz-stroke-primary);
  border-radius: 8px;
}

.op-btns {
  display: flex;
  column-gap: 4px;
}
