.test-form-sheet-header-v2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 48px;
  min-height: 48px;
  padding: 0 8px 0 12px;

  border-bottom: 1px solid var(--coz-stroke-primary);

  .header-title-v2 {
    font-size: 16px;
    font-weight: 500;
  }
}
