.select-option {
  display: flex;
  align-items: center;

  justify-content: space-between;
  column-gap: 8px;
  padding: 0 8px;

  .time {
    width: 128px;
    flex-shrink: 0;
  }

  .title {
    display: flex;
    align-items: center;
    width: 242px;
    column-gap: 4px;
    .icon {
      flex-shrink: 0;
      font-size: 12px;
    }
  }
}
