.trace-select {
  display: flex;
  align-items: center;
}

.trace-filter {
  height: 32px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 0 4px;
  border: 1px solid var(--coz-stroke-plus);
  border-right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main-select {
  width: 200px;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
}
