.action-bar {
  display: flex;
  column-gap: 8px;
  align-items: center;

  .icon-button {
    font-size: 16px;
    // rgb mark
    color: #060709;

    &.icon-button-active {
      // rgb mark
      background-color: var(--semi-color-fill-1);
    }
  }


}
