.popup-container {
  display: flex;
  flex-direction: column;

  .popup-container-id {
    position: relative;

    :global(>.semi-portal>.semi-portal-inner) {
      top: 2px ;
      left: 0 ;
      width: 100%;
    }
  }
}


