

.tips-headline{
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px; /* 142.857% */
  color: var(--Fg-COZ-fg-primary, rgba(32, 41, 65, 89%));
}

.case-block-label{
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px; /* 133.333% */
  color: var(--Fg-COZ-fg-secondary, rgba(44, 58, 92, 72%));
}

.rewrite-block-content{
  display: inline;
  flex-direction: column;
  align-items: flex-start;

  padding: 12px 16px;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px; /* 133.333% */
  color: var(--Fg-COZ-fg-primary, rgba(32, 41, 65, 89%));

  background: var(--Mg-COZ-mg-hglt-hovered, rgba(155, 162, 255, 38%));
  border-radius: var(--default, 8px);
}


.rerank-block-content{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;

  width: 288px;
  padding: 12px 16px;

  background: var(--Mg-COZ-mg-primary, rgba(97, 97, 196, 11%));
  border-radius: var(--default, 8px);
}

.rerank-block-content-text{
  height: 100%;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px; /* 133.333% */
}
