.flow-test-run-result-panel {
  // 样式
  width: 100%;
  padding: 6px;
}

.flow-test-run-empty-wrapper {
  min-height: 540px;
  padding-top: 137px;
  text-align: center;
}

.flow-side-sheet-json-viewer {
  max-height: 560px;
}
