
/* stylelint-disable declaration-no-important */
.check-box {
  position: absolute;
}

.form-check-tip {
  position: absolute;
  top: 4px;
  right: 0;
  left: 0;
  transform-origin: left;

  display: inline-block;

  font-size: 12px !important;
  line-height: 16px;
  color: var(--semi-color-danger);
}
