.default-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-label {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.tooltip-wrap {
  max-width: 320px;
}

.tooltip-icon {
  cursor: pointer;
  font-size: 12px;
  color: var(--coz-fg-secondary);
}

.input-tooltip {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 300px;

  img {
    width: 296px;
    margin-bottom: 8px;
  }
}
