.edit-form-resizeable-panel {
  box-shadow: none;
}
.edit-form {
  padding: 12px;
}
.edit-form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 16px;
  .title-text {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
  }
}
.edit-form-desc-input {
  margin-top: 12px;
}
