/* stylelint-disable declaration-no-important */
.processing-tag-process {
  color: var(--Light-color-green---green-6, #32A247) !important;
  background: #D2F3D5 !important;
}

.processing-tag-failed {
  color: var(--Light-color-red---red-6, #DB2E13) !important;
  background: #FFE0D2 !important;
}
