.button-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  margin-left: 16px;

  .generate-icon {
    position: relative;
    top: 2px;
    margin-right: 4px;
  }
}
