body {
  .popover {
    &:global(.coz-popover) {
      width: 476px;
      padding: 24px;

      background: var(--Light-color-grey---grey-0, #F7F7FA);
      border-width: 0;
      border-radius: 8px;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 30%), 0 4px 68px 3px rgba(0, 0, 0, 14%);
    }
  }
}
