.button-min-width:not(:global(.semi-button-with-icon-only)) {
  min-width: 96px;
}

.button.button-size-small {
  border-radius: 6px;

  :global {
    .semi-button-content-right {
      margin-left: 4px;
    }
  }
}

.button.button-size-default {
  border-radius: 8px;

  :global {
    .semi-button-content-right {
      margin-left: 8px;
    }
  }
}
