.common-svg-icon(@size: 14px, @color: #3370ff) {
  >svg {
    width: @size;
    height: @size;

    >path {
      fill: @color;
    }
  }
}

.text {
  margin: 24px 0 17px;

  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
  color: var(--light-usage-text-color-text-0, #1c1f23);
}

.progress-success-icon {
  .common-svg-icon(20px, var(--semi-color-primary));
}
