.image-preview-mobile {
  :global(.semi-image-preview-footer) {
    opacity: 0;
  }

  &:global(.semi-image-preview) {
    background-color: #000;
  }

  :global(.semi-image-preview-header-close) {
    display:none;
  }
}
