.error-name {
  span {
    font-weight: 500;
  }
}

.tooltip {
  max-width: 460px;
  max-height: 260px;
  overflow-y: auto;
  padding: 8px 12px;
}

.errors {
  display: grid;
  grid-template-columns: minmax(0, max-content) 1fr;
  grid-gap: 16px;
  grid-row-gap: 12px;
  margin-top: 12px;
}
