.select {
  width: 100%;

  .select-name {
    margin-left: 6px;
    font-weight: 600;
  }
}
.select-item-icon {
  svg {
    width: 24px;
    height: 24px;
  }
}
.select-item-name {
  margin-left: 12px;
  margin-right: 16px;
  font-weight: 600;
}
