.editor-normal{
  border: 1px solid var(--Stroke-COZ-stroke-plus, rgba(84, 97, 156, 27%));
}

.editor-error {
  border: 1px var(--semi-color-danger) solid;
}

.editor-focused {
  border: 1px var(--semi-color-primary) solid;
}
