.ui-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 12px;

  .title {
    color: var(--light-usage-text-color-text-0, #1c1d23);
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    font-style: normal;
  }
}
