.input-slider {
  display: flex;
  column-gap: 8px;
  align-items: center;
  align-items: flex-start;

  :global {
    .semi-slider {
      flex: 1;
    }
  }

  .slider {
    width: 100%;
  }

  .input-number {
    width: 120px;
  }

}
