/* stylelint-disable declaration-no-important */
.condition-logic-select {
  border: none !important;

  :global(.semi-select-selection) {
    font-weight: 400;
    color: rgba(var(--semi-brand-5), 1)
  }

  :global(.semi-select-selection-text) {
    font-size: var(--coze-12) !important;
  }
}
