.more-btn-tooltip {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;

  .tool-text {
    cursor: pointer;
    color: var(--light-color-brand-brand-3, #9197f1);
    text-decoration: underline dotted;
  }
}
