@bg-gray-blue: rgba(
  240,
  245,
  255,
  0.81
); // highlight the area of the background
@text-gray-blue: #536eb1; // highlight the area of the text

@bg-white-smoke: #f5f5f5; // background of input/table/btn TODO：rgba(46, 50, 56, 0.05)) #2e3238
@border-light-gray: rgba(28, 29, 35, 0.12);
@error-red: #f93920;
@text-title-black: #2e3238;
@text-highlight-blue: #3370ff;
