.execute-result-list {
  :global {
    .semi-list-header {
      padding: 0 0 8px 0;
    }
  }
}

.execute-result-list-title {
  color: var(--light-usage-text-color-text-3, rgba(29, 28, 35, 0.35))
}


.success-icon {
  :global {
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
