/* stylelint-disable declaration-no-important */
.suggestion-list {
  display: flex;
  column-gap: 4px;
}

.drag-btn {
  cursor: grab;
  padding-top: 4px;

  &.disabled {
    cursor: not-allowed;
  }
}

.delete-btn {
  padding-top: 2px;
}


.text-area {
  line-height: 20px!important;

  textarea {
    font-size: 12px!important;
    line-height: 20px!important;
  }
}
