.dropdown {
  :global {
    .semi-cascader-option-lists {
      height: 260px;

      &.semi-cascader-option-lists-empty {
        height: auto;
      }
    }

    .semi-cascader-option-empty {
      cursor: default;
    }
  }
}
